<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Meet&Code2019. Ecology + AI</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

<h3>Meet&Code2019. Ecology + AI</h3>

<div class="container">
    <form enctype="multipart/form-data" action="/upload" method="POST">
        <input type="file" name="upload_image">
        <input type="submit">
    </form>
</div>

</body>
</html>